.quality-banner {
    position: relative;
    margin: 8rem 0 18rem;
    width: 100vw;
    @media (min-width: 1920px) {
        margin: 5.6rem 0 18rem;
        margin-left: calc((100vw - 1920px) / -2);
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 43rem;
        background-color: $lilac;
        z-index: -1;
        @include small-tablet {
            height: 52rem;
        }
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 5.6rem;
        @include small-tablet {
            flex-direction: column;
            gap: 4.8rem;
            align-items: flex-start;
            margin-bottom: 3.8rem;
        }
    }
    &__title {
        margin-bottom: 0;
        width: 83rem;
        @include small-tablet {
            font-size: 5.6rem;
            line-height: 100%;
            margin-bottom: 0;
            width: 55rem;
        }
    }
    &__subtitle {
        margin-bottom: 1.9rem;
        text-align: right;
        width: 40rem;
        font-size: 2rem;
        line-height: 120%;
        @include small-tablet {
            font-size: 3.6rem;
            line-height: 130%;
            text-align: left;
            width: 67rem;
        }
    }
    &__info {
        position: relative;
        height: 43rem;
        display: flex;
        flex-direction: row-reverse;
        @include small-tablet {
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
        &-img {
            height: inherit;
            position: absolute;
            right: 64rem;
            width: 56.2vw;
            display: flex;
            align-items: flex-start;
            overflow: hidden;
            @include small-tablet {
                width: 100vw;
                right: 3rem;
                position: relative;
                height: 46rem;
                align-items: center;
            }
        }
        &-block {
            height: inherit;
            width: 64rem;
            padding: 4rem 2.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
            @include small-tablet {
                width: 100%;
                padding: 4rem 0rem;
                gap: 4rem;
            }
            &::before {
                content: '';
                display: block;
                width: 14.2rem;
                height: 14.2rem;
                background-repeat: no-repeat;
                background-size: 100%;
                background-image: url(@img/icons/star-white.svg);
                position: absolute;
                bottom: 2rem;
                left: -7rem;
                @include small-tablet {
                    display: none;
                }
            }
        }
        &-text {
            @include text24();
            line-height: 130%;
            width: 41rem;
            @include small-tablet {
                width: 100%;
            }
        }
        &-link {
            padding: 0.8rem 5rem;
            margin: 0 0 3rem 13rem;
            @include small-tablet {
                padding: 0.9rem 10.5rem;
                margin: 0 0 4rem 0rem;
            }
        }
    }
}
