.attendance {
    margin-top: 5.6rem;

    @include small-tablet {
        margin-top: 5.8rem;
    }

    &__title {
        @include small-tablet {
            font-size: 5.6rem;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0;
            margin-bottom: 5rem;
        }
    }

    &__content {
        position: relative;
        display: flex;
        gap: 2.4rem;

        @include small-tablet {
            flex-direction: column;
            gap: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 49.1rem;
        width: 100%;
        margin-top: 4rem;

        @include small-tablet {
            margin-top: 0;
            max-width: 100%;
            margin-bottom: 4.8rem;
        }
    }

    &__description {
        @include text20;
        max-width: 36.2rem;
        width: 100%;
        margin-bottom: 27.9rem;

        @include small-tablet {
            max-width: 100%;
            margin-bottom: 0;
            @include text18;
        }
    }

    &__button {
        margin-bottom: 0.8rem;

        &.desktop {
            @include small-tablet {
                display: none;
            }
        }

        @include small-tablet {
            margin-bottom: 0;
        }
    }

    &__text {
        position: absolute;
        right: 0;
        max-width: 36.2rem;
        width: 100%;
        bottom: 3rem;

        @include small-tablet {
            position: static;
            max-width: 100%;
        }

        &-title {
            @include h3;
            margin-bottom: 1.6rem;

            @include small-tablet {
                margin-bottom: 3.2rem;
            }
        }

        &-description {
            @include text20;

            @include small-tablet {
                margin-bottom: 4.8rem;
            }
        }
    }

    &__button {
        @include small-tablet {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__posters {
        display: flex;
        align-items: flex-start;
        gap: 2.2rem;

        @include small-tablet {
            margin-bottom: 8rem;
        }
    }

    &__poster {
        border-radius: 2rem;

        @include small-tablet {
            border-radius: 4rem;
        }

        &.--big {
            height: 100%;
            max-width: 49.2rem;
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;
            }

            @include small-tablet {
                max-width: 100%;
                height: 87rem;
            }
        }

        &.--small {
            @include sizes(23.4rem, 23.4rem);
        }

        img {
            border-radius: inherit;
        }
    }
}
