.catering {
    &__title {
        margin-bottom: 6rem;

        @include small-tablet {
            margin-bottom: 8rem;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(74.8rem, 1fr));
        gap: 2.4rem;
        margin-bottom: 4rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            margin-bottom: 8rem;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: max-content;
        margin: 0 auto;

        @include small-tablet {
            gap: 3rem;
        }

        span {
            color: #1d1d1d;
            font-size: 2rem;
            font-weight: 700;
            line-height: 120%;
            display: block;
            white-space: nowrap;

            @include small-tablet {
                @include textButton {
                    color: $black;
                }
            }
        }

        svg {
            max-width: 2.2rem;
            width: 100%;
            height: 2.4rem;

            @include small-tablet {
                max-width: 4.4rem;
                height: 4.6rem;
            }
        }
    }

    &__item {
        .services__slide-text-title {
            @include small-tablet {
                font-size: 5.6rem;
            }
        }
    }
}
