.delivery {
    margin-top: 11.2rem;

    @include small-tablet {
        margin-top: 10rem;
    }

    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;

        @include small-tablet {
            flex-direction: column;
            gap: 4.8rem;
        }
    }

    &__icon {
        position: absolute;
        top: -5rem;
        left: 32rem;
        @include sizes(16.8rem, 16.8rem);
        z-index: -1;

        @include small-tablet {
            left: auto;
            right: 0;
            top: -3rem;
            @include sizes(16.8rem, 16.8rem);
        }
    }

    &__info {
        max-width: 41.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @include small-tablet {
            max-width: 100%;
            gap: 4.8rem;
        }
    }

    &__title {
        margin-bottom: 0;

        @include small-tablet {
            @include h1-mobile {
                margin-top: 1.4rem;
                max-width: 28rem;
                margin-bottom: 3rem;
            }
        }
    }

    &__description {
        @include text24;

        @include small-tablet {
            @include text18;
        }
    }

    &__button {
        @include small-tablet {
            @include button-mobile;
        }
    }

    &__poster {
        @include sizes(100.5rem, 50.6rem);
        border-radius: 2rem;

        @include small-tablet {
            max-width: 100%;
            height: 56rem;
            border-radius: 4rem;
        }

        img {
            border-radius: inherit;
            height: 100%;
            object-fit: cover;
        }
    }
}
