.eating {
    .services-page & {
        margin-bottom: 26rem;
    }
    @include small-tablet {
        overflow: hidden;
        .services-page & {
            margin-bottom: 37rem;
        }
    }

    &__title {
        margin-bottom: 0;

        @include small-tablet {
            margin-bottom: 8rem;
        }
    }

    &-swiper {
        @include small-tablet {
            overflow: visible;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7rem;

        @include small-tablet {
            margin-bottom: 0;
        }
    }

    .swiper-slide {
        height: unset;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        height: 100%;

        &-image {
            border-radius: 2rem;
            height: 41.2rem;

            @include small-tablet {
                height: 54rem;
            }
        }

        &-text {
            padding: 1.6rem 4.3rem 1.6rem 1.6rem;
            border-radius: 2rem;
            background: var(--eating-background);
            min-height: 10rem;

            span {
                color: #1d1d1d;
                font-size: 2.8rem;
                font-weight: 700;
                line-height: 120%;
                height: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @include small-tablet {
                    font-size: 4rem;
                }
            }

            @include small-tablet {
                padding: 3.2rem;
                min-height: 16rem;
                border-radius: 4rem;
            }
        }
    }

    @include swiper-navigation;
}
