.offers {
    @media (max-width: 48em) {
        margin-bottom: 35rem;
    }

    // .offers__container

    &__container {
        display: flex;
        flex-direction: column;
    }

    // .offers__head

    &__head {
        padding-bottom: 5.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(233, 242, 233, 1);
        @media (max-width: 48em) {
            padding-bottom: 8rem;
            flex-direction: column;
            justify-content: stretch;
            align-items: flex-start;
        }
    }

    // .offers__title

    &__title {
        @include h1;
        margin: 0;
        @media (max-width: 48em) {
            margin-bottom: 5rem;
            font-size: 6rem;
        }
    }

    // .offers__text

    &__text {
        @include text20;
        max-width: 53rem;
        @media (min-width: 48em) {
            padding-top: 4rem;
            max-width: 25.2rem;
        }
    }

    // .offers__body
    &__body {
        display: flex;
        flex-direction: column;
    }

    // .offers__body

    &__body {
        display: flex;
        flex-direction: column;
    }

    // .offers__cards

    &__cards {
        display: flex;
        flex-direction: column;
    }

    // .offers__card

    &__card {
        @media (max-width: 48em) {
            &:not(:last-child) {
                border-bottom: 1px solid rgba(233, 242, 233, 1);
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

// --------------------------------------------------------------------------

.offer-card {
    position: relative;
    @media (min-width: 48em) {
        margin-left: calc((100vw - 152rem) / -2);
        width: 100vw;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #cfffd3;
            .offer-card__body,
            .offer-card__subtitle {
                grid-template-rows: 1fr;
            }
            .offer-card__body {
                padding-bottom: 5rem;
            }
        }
    }
    @media (min-width: 1920px) {
        margin-left: calc((1920px - 152rem) / -2);
    }

    // .offer-card__arr-btn

    &__arr-btn {
        ._active & {
            .arr-btn__icon {
                transform: rotate(-180deg);
            }
        }
        @media (min-width: 48em) {
            display: none;
        }
    }

    // .offer-card__wrap

    &__wrap {
        padding: 6.4rem 0;
        display: flex;
        flex-direction: column;
        @media (min-width: 48em) {
            margin: 0 auto;
            padding: 3.2rem 0;
            flex-direction: row;
            column-gap: 6rem;
            width: 152rem;
        }
    }

    // .offer-card__label-txt

    &__label-txt {
        font-size: 2rem;
        text-align: center;
        span {
            display: block;
            font-weight: 700;
        }
        @media (max-width: 48em) {
            font-size: 2.8rem;
        }
    }

    // .offer-card__content

    &__content {
        display: flex;
        flex-direction: column;
        @media (min-width: 48em) {
            flex: 1 1 auto;
        }
    }

    // .offer-card__head

    &__head {
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 48em) {
            margin-bottom: 3.2rem;
        }
    }

    // .offer-card__title

    &__title {
        @include h2;
        max-width: 31.7rem;
        @media (max-width: 48em) {
            max-width: none;
            font-size: 5rem;
        }
    }

    // .offer-card__title-wrap

    &__title-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        @media (max-width: 48em) {
            row-gap: 1.6rem;
        }
    }

    // .offer-card__label

    &__label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        background-color: $lilac;
        @media (max-width: 48em) {
            position: absolute;
            top: 1.2rem;
            left: 1.2rem;
            width: 21rem;
            height: 21rem;
        }
    }

    // .offer-card__subtitle

    &__subtitle {
        @include text20;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.4s ease;
        span {
            overflow: hidden;
        }
        @media (max-width: 48em) {
            ._active & {
                grid-template-rows: 1fr;
            }
        }
    }

    // .offer-card__body

    &__body {
        display: grid;
        grid-template-rows: 0fr;
        transition:
            grid-template-rows 0.4s ease,
            padding-bottom 0.4s ease;
        @media (max-width: 48em) {
            ._active & {
                padding-bottom: 5rem;
                grid-template-rows: 1fr;
            }
        }
    }

    // .offer-card__footer

    &__footer {
        display: flex;
        align-items: center;
        column-gap: 5.6rem;
        @media (max-width: 48em) {
            justify-content: space-between;
            order: 1;
        }
    }

    // .offer-card__price

    &__price {
        display: flex;
        align-items: flex-end;
        column-gap: 0.4rem;
        span {
            @include h3;
            line-height: 100%;
            color: $orange;
        }
        @media (max-width: 48em) {
            column-gap: 0.8rem;
        }
    }

    // .offer-card__btn

    &__btn {
        min-width: 25.4rem;
        @media (max-width: 48em) {
            min-width: 35rem;
        }
    }

    // .offer-card__image-wrap

    &__image-wrap {
        position: relative;
        margin-bottom: 5rem;
        width: 100%;
        height: 44rem;
        border-radius: 4rem;
        @media (min-width: 48em) {
            margin: 0;
            flex: 0 0 74.8rem;
            width: 74.8rem;
            height: 43.8rem;
            border-radius: 2rem;
        }
    }

    // .offer-card__image

    &__image {
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        @media (max-width: 48em) {
            border-radius: 4rem;
        }
    }

    // .offer-card__menu

    &__menu {
        overflow: hidden;
    }
}

// --------------------------------------------------------------------------

.menu-offer-card {
    display: flex;
    gap: 3.2rem;
    @media (max-width: 48em) {
        flex-direction: column;
        gap: 1.6rem;
    }

    // .menu-offer-card__item

    &__item {
        display: flex;
        gap: 1.3rem;
        @media (max-width: 48em) {
            gap: 1.6rem;
        }
    }

    // .menu-offer-card__num

    &__num {
        font-weight: 350;
    }

    // .menu-offer-card__list

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
    }
}
