.order {
    &__title {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 36.2rem);
        gap: 2.4rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        text-align: center;

        @include small-tablet {
            gap: 4.8rem;
        }

        &-icon {
            @include sizes(5.8rem, 5.8rem);

            @include small-tablet {
                @include sizes(8rem, 8rem);
            }
        }

        &-text {
            @include h3;

            span {
                color: $orange;
                display: block;

                @include small-tablet{
                    display: inline;
                }
            }
        }
    }
}
