.prices {
    // .prices__container

    &__container {
        display: flex;
        flex-direction: column;
    }

    // .prices__head

    &__head {
        margin-bottom: 8rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 48em) {
            margin-bottom: 5.6rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    // .prices__title-wrap

    &__title-wrap {
        margin-bottom: 2.4rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 48em) {
            margin-bottom: 0;
            flex-direction: row;
            align-items: center;
            column-gap: 7.6rem;
        }
    }

    // .prices__title

    &__title {
        @include h1;
        margin: 0;
        @media (max-width: 48em) {
            margin-bottom: 5rem;
            font-size: 5rem;
        }
    }

    // .prices__text

    &__text {
        @include text20;
        max-width: 35.8rem;
        @media (max-width: 48em) {
            max-width: 66rem;
        }
    }

    // .prices__btn

    &__btn {
        width: 100%;
        @media (min-width: 48em) {
            width: auto;
            min-width: 17.7rem;
        }
    }

    // .prices__body

    &__body {
        display: flex;
        column-gap: 15.3rem;
        @media (max-width: 48em) {
            flex-direction: column-reverse;
        }
    }

    // .prices__image-wrap

    &__image-wrap {
        width: 100%;
        height: 68rem;
        @media (min-width: 48em) {
            flex: 0 0 61.9rem;
            width: 61.9rem;
            height: 77.8rem;
        }
    }

    // .prices__image

    &__image {
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        @media (max-width: 48em) {
            border-radius: 4rem;
        }
    }

    // .prices__content

    &__content {
        margin-bottom: 8rem;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        @media (min-width: 48em) {
            margin-bottom: 0;
            row-gap: 3.2rem;
            flex: 1 1 auto;
        }
    }

    // .prices__accordion-item

    &__accordion-item {
    }
}
