.selection {
    background: $lilac;
    @media (min-width: 48em) {
        width: 100vw;
        margin-left: calc((100vw - 100%) / -2);
    }

    @include small-tablet {
        overflow: hidden;
    }

    &__btn {
        align-self: flex-start;
        min-width: 25.4rem;
        @media (max-width: 48em) {
            min-width: 44rem;
        }
    }

    &__info {
        max-width: 93.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @include small-tablet {
            max-width: 100%;
            gap: 4.8rem;
        }
    }

    &__content {
        position: relative;
        padding: 14rem 0 15.5rem 0;

        @include small-tablet {
            padding: 18rem 0 36.4rem 0;
        }
    }

    &__star {
        margin-bottom: 2.8rem;
        display: flex;
        flex-direction: column;
        gap: 4.8rem;

        img {
            @include sizes(8rem, 8rem);
        }

        @include small-tablet {
            flex-direction: row;
            align-items: center;
            gap: 4.8rem;
            margin-bottom: 4.8rem;
        }
    }

    &__subtitle {
        font-size: 1.6rem;
        line-height: normal;
        text-transform: uppercase;

        @include small-tablet {
            @include textCaps14;
        }
    }

    &__title {
        @include h2 {
            @include small-tablet {
                font-size: 6rem;
                line-height: 100%;
            }
        }
    }

    &__description {
        @include text20;
        max-width: 64.7rem;
        width: 100%;

        @include small-tablet {
            max-width: 100%;
        }
    }

    &__poster {
        @include sizes(61.7rem, 75.8rem);
        position: absolute;
        right: -7rem;
        bottom: -2.6rem;

        @include small-tablet {
            @include sizes(37.2rem, 43.6rem);
            right: -6rem;
            bottom: 0;
        }
    }
}
