.seo {
    &__title {
        @include small-tablet {
            font-size: 5.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            margin-bottom: 8rem;
            letter-spacing: 0;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include small-tablet {
            flex-direction: column;
            gap: 4.8rem;
        }
    }

    &__text {
        max-width: 87.7rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4.5rem;

        @include small-tablet {
            max-width: 100%;
        }

        p {
            @include text20;
        }

        &-block {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            @include small-tablet{
                gap: 1.6rem;
            }
        }
    }

    &__sidebar {
        max-width: 49.1rem;
        width: 100%;
        position: relative;

        @include small-tablet {
            max-width: 100%;
            border-radius: 4rem;
        }

        &-eat {
            position: absolute;
            top: 10.5rem;
            right: 0;
            max-width: 38.7564rem;
            width: 100%;
            height: 59.8643rem;

            @include small-tablet {
                right: 0;
                max-width: 44.7564rem;
                height: auto;
            }

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        &-blocks {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;

            @include small-tablet {
                gap: 4.8rem;
            }
        }

        &-block {
            &:nth-child(1) {
                background: $green-secondary;
                padding: 8.7rem 5rem 4rem 5rem;
                border-radius: 2rem 2rem 0 0;

                @include small-tablet {
                    padding: 8rem 4.8rem 8.8rem 4.8rem;
                    border-radius: 4rem 4rem 0 0;
                }
            }

            &:nth-child(2) {
                background: $lilac;
                padding: 4rem 5rem 8.7rem 5rem;
                border-radius: 0rem 0rem 2rem 2rem;

                @include small-tablet {
                    @include small-tablet {
                        border-radius: 0rem 0rem 4rem 4rem;
                        padding: 4.8rem 4.8rem 12rem 4.8rem;
                    }
                }
            }

            &-title {
                font-family: 'MullerRegular', sans-serif;
                font-size: 6rem;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 0.8rem;
                display: block;

                @include small-tablet {
                    font-size: 5.2rem;
                    margin-bottom: 1.6rem;
                }
            }

            &-subtitle {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 120%;

                @include small-tablet {
                    font-size: 3.2rem;
                }
            }
        }
    }
}
