// ---------------------------------- forms ---------------------------------

@import '../components/form/form.scss';

// -------------------------------- accordion -------------------------------

@import '../components/accordion.scss';

// -------------------------------- showmore --------------------------------

[data-showmore-button] {
    span {
        &:last-child {
            display: none;
        }

        ._showmore-active & {
            display: none;

            &:last-child {
                display: block;
            }
        }
    }
}
