// -------------------------------- Typography -------------------------------
@import 'mixins';

@media (min-width: 48.01em) {
    .mobile {
        display: none;
    }
}

@media (max-width: 48em) {
    .desktop {
        display: none;
    }
}

.hidden {
    display: none;
}

@mixin h1 {
    font-family: 'MullerRegular', sans-serif;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 5.6rem;
    font-style: normal;
    font-size: 8.6rem;
    letter-spacing: -0.086rem;

    @include small-tablet {
        font-size: 8.4rem;
        margin-bottom: 8rem;
    }

    @content;
}

@mixin h1-mobile {
    font-family: 'MullerRegular', sans-serif;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    @content;
}

@mixin h2() {
    font-size: 6rem;
    font-family: 'MullerRegular', sans-serif;
    line-height: 100%;
    font-weight: 400;
    font-style: normal;

    @include small-tablet {
        font-size: 6.8rem;
        line-height: 120%;
    }

    @content;
}

@mixin h2-mobile() {
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @content;
}

@mixin h3() {
    font-size: 2.8rem;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;

    @include small-tablet {
        font-size: 4rem;
        line-height: 120%;
    }

    @content;
}

@mixin text18() {
    font-size: 1.8rem;
    line-height: 120%;
    font-weight: 400;
    font-style: normal;

    @include small-tablet {
        font-size: 3.6rem;
        line-height: 130%;
    }

    @content;
}

@mixin text24() {
    font-size: 2.4rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;

    @include small-tablet {
        font-size: 3.6rem;
    }

    @content;
}

@mixin text16() {
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;

    @include small-tablet {
        font-size: 3.2rem;
        line-height: 120%;
    }

    @content;
}

@mixin textCaps16() {
    font-style: normal;

    @include text16 {
        text-transform: uppercase;
    }
}

@mixin textCaps14() {
    font-style: normal;

    @include small-tablet {
        font-size: 2.8rem;
        line-height: normal;
        font-weight: 400;
    }

    @content;
}

@mixin textButton() {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
    font-style: normal;

    @include small-tablet {
        font-size: 3.6rem;
        line-height: 130%;
    }

    @content;
}

@mixin text20() {
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;

    @include small-tablet {
        font-size: 3.2rem;
    }
}

@mixin button-mobile() {
    width: 100%;
    text-align: center;
}

.section-title {
    @include h1;
    @media (max-width: 48em) {
        font-size: 6rem;
    }
}

.button-primary {
    padding: 0.8rem 5.2rem;
    background: $orange;
    border-radius: 10rem;
    width: fit-content;
    transition:
        0.3s background ease,
        0.3s color ease;
    font-style: normal;

    &:hover {
        color: $black;
        background: $green;
    }

    @include textButton {
        color: #fff;
    }

    @include small-tablet {
        padding: 1.2rem 10.4rem;
        border-radius: 20rem;
    }
}

.link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 5.6rem;
    width: fit-content;
    font-style: normal;

    @include small-tablet {
        gap: 3rem;
        margin-top: 8rem;
    }

    span {
        font-size: 2rem;
        font-weight: 700;
        line-height: 120%;

        @include small-tablet {
            font-size: 3.6rem;
        }
    }

    svg {
        @include sizes(5.6rem, 2.4rem);

        @include small-tablet {
            @include sizes(11.6rem, 4.4rem);
        }

        transition: transform 0.3s ease;
    }

    @media (any-hover: hover) {
        &:hover {
            svg {
                transform: translateX(-0.5rem);
            }
        }
    }
}

//reset swiper navigation styles
.swiper-button {
    &-next,
    &-prev {
        @include sizes(5.8rem, 2.9rem);
        position: initial;
        margin: 0;
        padding: 0;

        @include small-tablet {
            @include sizes(11.6rem, 5.3rem);
        }

        &::after {
            display: none;
            visibility: hidden;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &-disabled {
        opacity: 1 !important;
    }
}

.input-field {
    display: block;

    input {
        padding-bottom: 0.8rem;
        border-bottom: 0.1rem solid #d2dbd2;
        color: #afafaf;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;

        @include small-tablet {
            padding-bottom: 1.6rem;
            font-size: 3.6rem;
        }

        &::placeholder {
            color: #afafaf;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include small-tablet {
                padding-bottom: 1.6rem;
                font-size: 3.6rem;
            }
        }
    }
}

._showmore-active [data-showmore-button] span:last-child {
    display: flex;
}

.showmore-button {
    @include small-tablet {
        margin-top: 2.4rem;

        span {
            display: flex;
            align-items: flex-start;
            gap: 2rem;
            white-space: nowrap;
            color: #1d1d1d;
            font-size: 3.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;

            svg {
                max-width: 4.4rem;
                width: 100%;
                height: 4.6rem;
            }

            &:last-child {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}
