@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/CirceRegular.woff2);
}
@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 300;
  src: url(@fonts/CirceLight.woff2);
}
@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  src: url(@fonts/CirceBold.woff2);
}
@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 800;
  src: url(@fonts/CirceExtraBold.woff2);
}

@font-face {
  font-family: 'MullerRegular';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/MullerRegular.woff2);
}

@font-face {
  font-family: 'NeueMetana';
  font-style: normal;
  font-weight: 700;
  src: url(@fonts/NeueMetanaBold.woff2);
}

@font-face {
  font-family: 'AkzidenzGroteskPro';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/AkzidenzGroteskProRegular.woff2);
}
@font-face {
  font-family: 'PPNeueMontrealBook';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/PPNeueMontrealBook.woff2);
}
