@mixin pseudo() {
    content: '';
    position: absolute;
    @content;
}

@mixin small-tablet {
    @media (max-width: 48em) {
        @content;
    }
}

@mixin sizes($width, $height) {
    max-width: $width;
    width: 100%;
    height: $height;

    @content;
}

@mixin swiper-navigation() {
    &__navigation {
        display: flex;
        align-items: center;
        gap: 2.4rem;

        color: $darkGreen;
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;

        @include small-tablet {
            margin-top: 3.2rem;
            justify-content: space-between;
            font-size: 3.6rem;
        }

        .swiper-pagination-current {
            color: $darkGreen;
            font-size: 2rem;
            font-weight: 700;
            line-height: normal;

            @include small-tablet {
                font-size: 3.6rem;
            }
        }

        .swiper-pagination-total {
            color: $gray;
            font-size: 2rem;
            font-weight: 700;
            line-height: normal;

            @include small-tablet {
                font-size: 3.6rem;
            }
        }

        .swiper-pagination-fraction {
            @include small-tablet{
                width: max-content;
            }
        }
    }

    @content;
}
