body::after {
    content: '';
    position: fixed;
    z-index: 149;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 66, 66, 0.1);
    backdrop-filter: blur(2rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease 0s;
    .modal-show & {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 3rem 2.4rem;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0.8s ease 0s;
    &.modal_show {
        z-index: 150;
        visibility: visible;
        overflow: auto;
        pointer-events: auto;
        .modal__content {
            visibility: visible;
            transform: scale(1);
        }
    }

    // .modal__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        width: 100%;
        min-height: 100%;
    }

    // .modal__content

    &__content {
        position: relative;
        width: 100%;
        visibility: hidden;
        transform: scale(0);
        transition: transform 0.3s ease 0s;
        .lock & {
            visibility: visible;
        }
    }
}

// --------------------------------------------------------------------------
.application-modal {
    &_sent {
        .application-modal {
            &__content {
                margin-bottom: 8rem;
            }
            &__title {
                margin-bottom: 5rem;
            }
            &__text {
                max-width: 48rem;
            }
        }
    }
    @media (min-width: 48em) {
        &_sent {
            .application-modal {
                &__content {
                    margin-bottom: 0;
                }
                &__title {
                    margin-bottom: 2.4rem;
                    max-width: 37.3rem;
                }
                &__text {
                    margin-bottom: auto;
                    max-width: 29rem;
                }
            }
        }
        .modal__content {
            max-width: 100.6rem;
        }
    }

    // .application-modal__inner

    &__inner {
        position: relative;
        padding: 2.4rem;
        display: flex;
        column-gap: 2.4rem;
        border-radius: 2rem;
        background-color: $white;
        @media (max-width: 48em) {
            padding: 3.2rem;
            flex-direction: column-reverse;
            border-radius: 4rem;
        }
    }

    // .application-modal__image-wrap

    &__image-wrap {
        width: 46.7rem;
        height: 44.7rem;
        @media (max-width: 48em) {
            width: 100%;
            height: 40rem;
        }
    }

    // .application-modal__image

    &__image {
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        @media (max-width: 48em) {
            border-radius: 4rem;
        }
    }

    // .application-modal__content

    &__content {
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 48em) {
            margin-bottom: 0;
            padding: 1.6rem 0;
        }
    }

    // .application-modal__close

    &__close {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        width: 3.2rem;
        height: 3.2rem;
        @media (max-width: 48em) {
            top: 2.4rem;
            right: 2.4rem;
            width: 5rem;
            height: 5rem;
        }
    }

    // .application-modal__close-icon

    &__close-icon {
        height: 100%;
        object-fit: contain;
    }

    // .application-modal__title

    &__title {
        @include h2;
        margin-bottom: 4rem;
        max-width: 28.3rem;
        @media (max-width: 48em) {
            margin-bottom: 7rem;
            max-width: 39rem;
            font-size: 5rem;
        }
    }

    // .application-modal__form

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    // .application-modal__fields

    &__fields {
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
            row-gap: 5rem;
        }
    }

    // .application-modal__input

    &__input {
    }

    // .application-modal__text

    &__text {
        margin-bottom: 3.2rem;
        max-width: 45rem;
        @media (max-width: 48em) {
            margin-bottom: 5rem;
            max-width: none;
            font-size: 3.2rem;
        }
    }

    // .application-modal__btn

    &__btn {
        width: 100%;
        &.btn {
            padding: 1.6rem;
        }
        @media (min-width: 48em) {
            align-self: flex-start;
            min-width: 22rem;
            width: auto;
            &.btn {
                padding: 0.8rem;
            }
        }
    }
}

.certificates-modal {

  padding: 0;

  // .application-modal__inner

  &__inner {
    position: relative;
    display: flex;
    column-gap: 2.4rem;
    width: 100%;

    @media (max-width: 48em) {
      padding: 3.2rem 0;
      flex-direction: column-reverse;
      border-radius: 4rem;
    }
  }

  // .application-modal__content

  &__content {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    width: 38.3rem;
    width: 100%;
    height: 100%;

    @media (min-width: 48em) {
      margin-bottom: 0;
      padding: 1.6rem 0;
    }
  }

  // .application-modal__close

  &__close {
    position: fixed;
    top: 5rem;
    right: 20rem;
    width: 7.2rem;
    height: 7.2rem;
    z-index: 8;
    padding: 2rem;
    border-radius: 50%;
    background-color: #FFF;

    @media (max-width: 48em) {
      top: 4.8rem;
      right: 4.8rem;
      width: 10rem;
      height: 10rem;
      padding: 3rem;
    }
  }

  // .application-modal__close-icon

  &__close-icon {
    height: 100%;
    object-fit: contain;
  }

  &-swiper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    &.block {
      pointer-events: none;
    }
  }

  &__slide {
    &-img {
      width: 20%;
      height: 100%;
      cursor: zoom-in;
      transition: width 0.4s ease, padding 0.4s ease, min-width 0.4s ease;
      @media (max-width: 48em) {
        width: 100%;
        padding: 8rem 3.2rem 0 3.2rem;
        min-width: 50rem;
      }
      &.large {
        width: 68%;
        cursor: zoom-out;
        @media (max-width: 48em) {
          width: 100%;
          padding: 0rem;
          min-width: 117rem;
        }
      }
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  @include swiper-navigation;

  &__navigation {
    padding: 2.4rem 3.2rem;
    border-radius: 10rem;
    background-color: #FFF;
    @media (max-width: 48em) {
      width: 100%;
    }
    &.hidden {
      display: none;
    }
  }
}