input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
textarea:focus,
input:focus {
    outline: none;
}

.input {
    position: relative;
    &::placeholder {
        color: #a3a3a3;
    }

    // .input__field

    &__field {
        padding-bottom: 0.8rem;
        display: block;
        width: 100%;
        border-bottom: 1px solid #a3a3a3;
        transition: border-bottom 0.3s ease;
        ._filled &,
        ._form-focus & {
            border-bottom: 1px solid $black;
        }
        ._form-error & {
            border-bottom: 1px solid $red;
            &::placeholder {
                color: $red;
            }
        }
        @media (max-width: 48em) {
            padding-bottom: 1.6rem;
        }
    }
}
