//путь до шрифтов идет из папки src
@font-face {
  font-family: "Muller";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/MullerRegular.woff") format("woff"),
    url("./assets/fonts/MullerRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Circe";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/Circe-Regular.woff") format("woff"),
    url("./assets/fonts/Circe-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Circe";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Circe-Bold.woff") format("woff"),
    url("./assets/fonts/Circe-Bold.woff2") format("woff2");
}
