//	reset / base styles

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  list-style-type: none;
}

html,
body {
  // background: #060606;
  scroll-behavior: smooth;
}

img,
video {
  width: 100rem;
  height: 100rem;
}
.exampel {
  width: 30rem;
  height: 30rem;
  background: url("./assets/images/example.webp");
}
.header {
  width: 40rem;
}
