// -------------------------------- variables -------------------------------

// colors
$black: #1d1d1d;
$orange: #f4996b;
$green: #d1f39d;
$green-secondary: #cfffd3;
$darkGreen: #0b4333;
$lilac: #d1e1f9;
$gray: #afafaf;
$white: #ffffff;

// ---------------------------------- fonts ---------------------------------

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base file
@import 'base/base';

// html
html.lock,
html.lock body {
    overflow: hidden;
    touch-action: none;
}

// body
body {
    background-color: #ebfef8;
    background-image: url(@img/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

// wrapper
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1920px;

    // press footer
    > main {
        flex: 1 1 auto;
    }
    // fix for sliders
    > * {
        min-width: 0;
    }
}

// main
.main {
    padding-top: 11.2rem;
    @media (max-width: 48em) {
        padding-top: 14.6rem;
    }
}

// --------------------------------------------------------------------------

// ------------------------------- additional ------------------------------
@import 'base/mixins';
@import 'base/components-d';

// header / footer
@import 'components/header';
@import 'components/footer';

// base scss
@import 'base/set';
@import 'base/common';

// sections
@import 'sections/benefits';
@import 'sections/order';
@import 'sections/selection';
@import 'sections/services';
@import 'sections/reviews';
