// -------------------------------- variables -------------------------------

// colors
$black: #1d1d1d;
$orange: #f4996b;
$green: #d1f39d;
$green-secondary: #cfffd3;
$darkGreen: #0b4333;
$lilac: #d1e1f9;
$gray: #afafaf;
$white: #ffffff;

// ---------------------------------- fonts ---------------------------------

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base scss file
@import 'base/set';

// --------------------------------------------------------------------------

// ------------------------------- additional ------------------------------
@import 'base/mixins';
@import 'base/components-d';

// sections
@import 'sections/benefits';
@import 'sections/order';
