// -------------------------------- variables -------------------------------

// colors
$black: #1d1d1d;
$orange: #f4996b;
$green: #d1f39d;
$green-secondary: #cfffd3;
$darkGreen: #0b4333;
$lilac: #d1e1f9;
$gray: #afafaf;
$white: #ffffff;
$red: #f02222;

// ---------------------------------- fonts ---------------------------------

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base file
@import 'base/base';

// html
html.lock,
html.lock body {
    overflow: hidden;
    touch-action: none;
}

// body
body {
    overflow-x: hidden;
    background-image: url(@img/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

// wrapper
.wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1920px;

    // press footer
    > main {
        flex: 1 1 auto;
    }
    // fix for sliders
    > * {
        min-width: 0;
    }
}

// main
.main {
    padding-top: 11.2rem;
    @media (max-width: 48em) {
        padding-top: 14.6rem;
    }
}

// swiper fade fix
.swiper-fade {
    .swiper-slide {
        opacity: 0 !important;
        visibility: hidden !important;
        transition:
            opacity 0.5s ease,
            visibility 0.5s ease;
        &.swiper-slide-active {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

// --------------------------------------------------------------------------

// ------------------------------- additional ------------------------------
@import 'base/mixins';
@import 'base/components-d';

// header / footer
@import 'components/header';
@import 'components/footer';

// base scss
@import 'base/set';
@import 'base/common';
@import 'base/modals';

// sections
@import 'sections/benefits';
@import 'sections/order';
@import 'sections/selection';
@import 'sections/services';
@import 'sections/hero-mainpage';
@import 'sections/offers';
@import 'sections/order-banner';
@import 'sections/reviews';
@import 'sections/request';
@import 'sections/attendance';
@import 'sections/eating';
@import 'sections/catering';
@import 'sections/seo';
@import 'sections/contacts';
@import 'sections/delivery';
